<div>
  <nav class="navbar navbar-dark bg-primary" style="margin-bottom: 10px">
    <div class="navbar navbar-brand">
      PROVEEDORES
    </div>
  </nav>
  <p-table [value]="providers" [scrollable]="true" scrollHeight="700px">
    <ng-template pTemplate="header">
      <tr>
        <th>Razón social</th>
        <th>CUIT</th>
        <th>Direccion</th>
        <th>Teléfono</th>
        <th>e-Mail</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-provider>
      <tr>
        <td>{{provider.razon_social}}</td>
        <td>{{provider.cuit}}</td>
        <td>{{provider.direccion}}</td>
        <td>{{provider.telefono}}</td>
        <td>{{provider.mail}}</td>
        <td>
          <a class="btn btn-outline-primary btn-sm" style="margin-right: 10px" routerLink="/provider/{{provider.id}}">Editar</a>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(provider.id)">Eliminar</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
