<nav class="navbar navbar-dark bg-primary" style="margin-bottom: 10px">
  <div class="navbar navbar-brand">
    NUEVO PROVEEDOR
  </div>
</nav>

<div class="ui-g-4">
  <div class="form-group">
    <label for="razon_social">Razón social del proveedor</label>
    <input [(ngModel)]="provider.razon_social" class="form-control" id="razon_social" placeholder="">
  </div>

  <div class="form-group">
    <label for="direccion">Direccion</label>
    <input [(ngModel)]="provider.direccion" class="form-control" id="direccion" placeholder="">
  </div>

  <div class="form-group">
    <label for="cuit">CUIT</label>
    <input [(ngModel)]="provider.cuit" class="form-control" id="cuit" placeholder="">
  </div>

  <div class="form-group">
    <label for="mail">e-Mail</label>
    <input [(ngModel)]="provider.mail" class="form-control" id="mail" placeholder="">
  </div>


  <div>
    Teléfonos
    <p-listbox class="ui-g-4"></p-listbox>
    <button (click)="addPhone()" class="btn btn-primary">Agregar teléfono</button>
  </div>

  <button (click)="saveProvider()" class="btn btn-primary">Crear proveedor</button>

</div>
