<div>
  <nav class="navbar navbar-dark bg-primary" style="margin-bottom: 10px">
    <div class="navbar navbar-brand">
      RUBROS
    </div>
  </nav>

  <p-dialog header="Editar rubro" [(visible)]="display" [modal]="true" (onHide)="cerrar()">
    <router-outlet name="edicion">

    </router-outlet>
  </p-dialog>

  <div class="ui-g-4">

    <p-table [value]="categories">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-category>
        <tr>
          <td>{{category.name}}</td>
          <td>

            <button class=" btn btn-outline-primary btn-sm" style="margin-right: 10px" (click)="showDialog()" pButton
                    icon="pi pi-info-circle" label="Show"
                    [routerLink]="[{ outlets: { categoryEdition: ['category', category.id] } }]"> Editar
            </button>

            <!-- <a class="btn btn-outline-primary btn-sm" style="margin-right: 10px" routerLink="/categories/{{category.id}}">Editar</a> -->

            <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(category.id)">Eliminar</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br>
    <app-category></app-category>
  </div>
</div>


