<div class="container-fluid" style="margin-top: 10px">
  <!-- Image and text -->
  <!-- Barra de navegación que tiene el nombre de la empresa -->
  <nav class="navbar navbar-dark bg-primary">
    <div class="navbar-brand">
      MACAVI S.A.
    </div>
  </nav>

  <div class="row" style="margin-top: 10px">
    <!-- Columna izquierda con menú y título de menu -->
    <div class="col-2">
      <!-- Barra de navegación azul con título "menu" -->
      <nav class="navbar navbar-dark bg-primary" style="margin-bottom: 10px">
        <div class="navbar-brand">
          MENU
        </div>
      </nav>
      <!-- Panel con opciones del menú -->
      <p-panelMenu id="menu" [model]="items" [multiple]="false" [style]="{}"></p-panelMenu>
    </div>

    <div class="col">
      <!-- Donde se van a cargar el resto de vistas -->
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
