<div>
  <nav class="navbar navbar-dark bg-primary" style="margin-bottom: 10px">
    <div class="navbar navbar-brand">
      PRODUCTOS
    </div>
  </nav>
</div>


<p-scrollPanel>
  <p-table #dt [value]="products">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Marca
          <input pInputText type="text" placeholder="Buscar producto..."
                 (input)="dt.filter($event.target.value, 'contains')"
                 style="width: 140px; alignment: right">

        </th>
        <th scope="col">Rubro
          <input pInputText type="text" placeholder="Buscar rubro..."
                 (input)="dt.filter($event.target.value, 'id_category', 'contains')"
                 style="width: 140px; alignment: right">
        </th>
        <th scope="col">Presentación</th>
        <th scope="col">Precio Actual</th>
        <th scope="col">Stock Oficial</th>
        <th scope="col">Stock Paralelo</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product let-categories="categories">
      <tr>
        <td>{{product.brand_id}}</td>
        <td> {{translateCategory(product)}} </td>
        <td>{{product.measure_quantity}} {{product.measure_scale}}</td>
        <td>{{product.precio_actual}}</td>
        <td>{{product.stock_blanco}}</td>
        <td>{{product.stock_negro}}</td>
        <td>
          <a class="btn btn-outline-primary btn-sm" style="margin-right: 10px" routerLink="/product/{{product.id}}">Editar</a>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(product.id)">Eliminar</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-scrollPanel>
