<div>
  <nav class="navbar navbar-dark bg-primary" style="margin-bottom: 10px">
    <div class="navbar navbar-brand">
      PRODUCTOS
    </div>
  </nav>

  <p-table [value]="products">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Rubro</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio Actual</th>
        <th scope="col">Stock</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.nombre}}</td>
        <td>{{product.id_category}}</td>
        <td>{{product.descripcion}}</td>
        <td>{{product.precio_actual}}</td>
        <td>{{product.stock}}</td>
        <td>
          <a class="btn btn-outline-primary btn-sm" style="margin-right: 10px" routerLink="/product/{{product.id}}">Editar</a>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(product.id)">Eliminar</button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
