<nav class="navbar navbar-dark bg-primary" style="margin-bottom: 10px">
  <div class="navbar navbar-brand">
    {{title}}
  </div>
</nav>

<div class="ui-g-4">
  <div class="form-group">
    <label for="nombre">Nombre del producto</label>
    <input [(ngModel)]="product.nombre" class="form-control" id="nombre" placeholder="">
  </div>

  <div class="form-group">
    <label for="id_category">Categoría</label>
    <br>
    <p-dropdown [(ngModel)]="selectedCategory" [options]="categories" [filter]="true"
                [placeholder]="'Seleccionar...'" [autoWidth]="false" [style]="{'width':'150px'}"
                [autoDisplayFirst]="false" filterPlaceholder="Buscar..."
                [emptyFilterMessage]="'No se encuentran coincidencias'"
                optionLabel="name" (onChange)="selectCat()" id="id_category" (onFocus)="getCategories()">
    </p-dropdown>
    <button (click)="addCategory()" class="btn btn-primary" style="margin-left: 10px">Agregar rubro</button> <!-- corregir bug de cuadro de texto si se quieren agregar 2 rubros seguidos, o cuando se quiere crear y se edita el rubro -->
  </div>


  <div class="form-group">
    <label for="descripcion">Descripción del producto (Opcional)</label>
    <textarea [(ngModel)]="product.descripcion" class="form-control" id="descripcion" rows="10"></textarea>
  </div>

  <button (click)="saveProduct()" class="btn btn-primary">Guardar producto</button>

<p-dialog header="Crear rubro" [(visible)]="display" [modal]="true">
  <app-category></app-category>
</p-dialog>
</div>

