<nav class="navbar navbar-dark bg-primary" style="margin-bottom: 10px">
  <div class="navbar navbar-brand">
    {{"NUEVA NOTA DE PEDIDO"}}
  </div>
</nav>

<!-- Selección proveedor -->
<div class="ui-g-12 ui-md-4">
  <p-dropdown [options]="providers" [(ngModel)]="selectedProvider" optionLabel="razon_social"
              placeholder="Seleccione un proveedor" [filter]="true"></p-dropdown>
</div>

<!-- Accordion con oficial y presupuesto -->
<div class="ui-g-12 ui-md-12">
  <p-accordion [multiple]="true">

    <!-- Oficial -->
    <p-accordionTab header="Oficial">
      <p-table [value]="onDetailsOficial">
        <ng-template pTemplate="header">
          <tr>
            <th>Código Producto</th>
            <th>Cantidad</th>
            <th>Presentación</th>
            <th>Nombre Producto</th>
            <th>Precio unitario</th>
            <th>Precio Total</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-onDetail>
          <tr>
            <td>{{onDetail.product_code}}</td>
            <td>{{onDetail.quantity}}</td>
            <td>Acá la medida</td>
            <td>Acá el nombre (¿rubro?)</td>
            <td>$ {{onDetail.price}}</td>
            <td>$ {{onDetail.quantity * onDetail.price}}</td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm">Eliminar</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <br>
      <button class="btn btn-primary" style="margin-bottom: 10px" (click)="showDialogToAdd(true)">Agregar producto
      </button>
    </p-accordionTab>

    <!-- Presupuesto -->
    <p-accordionTab header="Presupuesto">
      <p-table [value]="onDetailsPresupuesto">
        <ng-template pTemplate="header">
          <tr>
            <th>Código Producto</th>
            <th>Cantidad</th>
            <th>Presentación</th>
            <th>Nombre Producto</th>
            <th>Precio unitario</th>
            <th>Precio Total</th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-onDetail>
          <tr>
            <td>{{onDetail.product_code}}</td>
            <td>{{onDetail.quantity}}</td>
            <td>Acá la medida</td>
            <td>Acá el nombre (¿rubro?)</td>
            <td>$ {{onDetail.price}}</td>
            <td>$ {{onDetail.quantity * onDetail.price}}</td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm">Eliminar</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <br>
      <button class="btn btn-primary" style="margin-bottom: 10px" (click)="showDialogToAdd(false)">Agregar producto
      </button>
    </p-accordionTab>

  </p-accordion>
</div>

<!-- Total -->
<div class="ui-g-12 ui-md-4">
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon">$</span>
    <input type="text" pInputText placeholder="Total" [(ngModel)]="orderNote.total" disabled="true">
  </div>
  <div>
    <button class="btn btn-primary" style="margin-bottom: 10px" (click)="saveOrderNote()">Confirmar pedido</button>
  </div>
</div>


<!-- Pop-up selección producto -->
<p-dialog header="Seleccionar producto" [(visible)]="display" [modal]="true" class="ui-g-12"
          [height]="500" [width]="600" [resizable]="false">
  <div>
    <span class="ui-g-6">Código del producto</span>
    <input type="text" [(ngModel)]="onDetail.product_code" pInputText placeholder="" class="ui-g-6">
  </div>

  <br><br>

  <div>
    <span class="ui-g-6">Cantidad</span>
    <input type="text" [(ngModel)]="onDetail.quantity" pInputText placeholder="" class="ui-g-6">
  </div>

  <br><br>

  <div>
    <span class="ui-g-6">Presentación</span>
    <p-dropdown [options]="products" [(ngModel)]="selectedProduct" optionLabel="measure_combined"
                placeholder="Seleccione una presentación" [filter]="true" class="ui-g-6"></p-dropdown>
  </div>

  <br><br>

  <div>
    <span class="ui-g-6">Precio unitario</span>
    <input type="text" [(ngModel)]="onDetail.price" pInputText placeholder="" class="ui-g-6">
  </div>

  <br><br>

  <div>
    <button class="btn btn-primary" style="margin-bottom: 10px" (click)="add()">Aceptar</button>
  </div>
</p-dialog>


